*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

main{
    background-color: black;
    color: white;
    
}

footer{
    min-height: 70px;
    background-color: #222222;
}

img{
    width: 100%;
}

/* MAIN */

/* Label main (right) */

.label-right{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
}

.label-right>span{
    background-color: #4a4a4a;
    margin: 0 3px;
    padding: 3px 5px;
    border-radius: 5px;
}


.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
    padding: 60px 60px 20px 60px;
    height: calc(100vh - 80px);
}

.card{
    position: relative;
    width: calc(95% / 7);
    
}


.label-name{
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 4px 8px;
    backdrop-filter: brightness(0.5); 
   
}

/* FOOTER */

.footer-nav{
    display: flex;
    height: 70px;
    
}

.button-left{
    display: flex;
    width: 15%;
    height: 100%;
    align-items: center;
}

.button-central{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
    align-items: center;

}

.button-end{
    display: flex;
    background-color:#4a4a4a;
    color: red;
    width: 8%;
    height: 100%;
    align-items: center;
    justify-content: center;


}

.icon{
    margin: 0 15px;
    color: white;
    text-align: center;
    line-height: 25px;
}

.icon.green-icon>i{
    color: green;
}

.icon i{
    font-size: 25px;
}

.icon p{
    font-size: 15px;
}